.authentication-container {
  width: 500px;
  margin: 2% auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.authentication-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.authentication-container .input-container {
  margin: 10px 0;
  width: 90%;
}

.authentication-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authentication-container button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authentication-container button:hover {
  background-color: #0056b3;
}
