#footer {
  background-color: var(--achtergrondkleur);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
}

#footer div {
  padding: 2vw 2vh;
  display: block;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
