#footer {
  background-color: var(--achtergrondkleur);
  color: white;
  position: fixed; 
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1vh 0;
  margin-left: 5vw;
}

.left-content svg {
  margin-right: 2px;
}

.right-content img {
  width: 6vw;
}

.footer-content a {
  text-decoration: none;
  color: white;
  /* margin-left: 20px; */
}

.footer-content p {
  margin: 0;
}
