body {
  font-family: Arial, sans-serif;
  color: #50575e;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  max-width: 55vw;
  margin: 0 auto;
  font-size: 1em;
}

.hero-section,
.about-section,
.contact-section {
  margin-bottom: 5vh;
}

.hero-section {
  margin: 10vh 0;
}

.main-heading {
  font-size: 4em;
  line-height: 1.2;
  font-weight: bold;
  color: #50575e;
  margin-bottom: 1vh;
}

.sub-heading {
  font-size: 1.3em;
  line-height: 1.5;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text {
  font-size: 1.03em;
  line-height: 1.3;
  font-style: italic;
  text-align: left;
}

.cta-button {
  display: inline-block;
  padding: 1vw 7vh;
  color: #fff;
  background-color: var(--achtergrondkleur);
  border-radius: 4px;
  transition: background-color 0.3s;
  border: none;
  margin: 3vh auto;
  font-size: 1.8em;
  text-decoration: none;
  text-align: center;
}

.cta-button:hover {
  background-color: var(--achtergrondkleur-dark);
}

.about-section {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.about-section div {
  padding-right: 3vw;
}

.about-section figure {
  width: 275%;
}

.about-section figure img {
  width: 100%;
  border-radius: 12px;
}

.about-section h2 {
  font-size: 2em;
  line-height: 1.5;
  color: var(--achtergrondkleur);
  margin-bottom: 1vh;
}

.contact-section {
  margin-bottom: 5vh;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5em;
  line-height: 1.2;
  color: var(--achtergrondkleur);
  margin-bottom: 2vh;
}

.contact-section p {
  font-size: 1.2em;
  color: #333;
}

.contact-section a {
  color: var(--achtergrondkleur);
  text-decoration: none;
  border-bottom: 2px solid var(--achtergrondkleur);
  transition: border-bottom 0.3s ease;
}

.contact-section a:hover {
  border-bottom: 2px solid #333;
}
