
section {
  background-color: #6ac26e;
  color: white;
}
section div {
  padding: 2vw 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}

section div img{
  width: 7vw;
}

section div ul {
  display: flex;
  justify-content: space-between;
}

section div ul li {
  align-items: center;
  margin-left: 2vh;
}

section div a{
  text-decoration: none;
  color: white;
  margin-right: 2vw;
}

section div button{
  border: none;
  background: none;
  width: 5%;
}

section div button img{
  cursor: pointer;
  border-radius: 2vw;
  width: 45%;
} 
