.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.quiz-box {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 4vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.question-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 6vh;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-box h2 {
  font-weight: bold;
  margin-bottom: 3vh;
}

.question-box .answer-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.question-box button {
  margin-right: 15px;
}

.quiz-finished button {
  margin-right: 0;
}

.button.selected {
  background-color: var(--achtergrondkleur-dark);
}

.question-box button:hover {
  background-color: var(--achtergrondkleur-dark);
}

.selector {
  text-align: center;
}

.selector h2 {
  font-size: 2em;
  padding: 2vw;
  font-weight: bold;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 5vh auto;
}

.product-box {
  margin-top: 3vh;
  flex: 0 0 calc(33.333333% - 20px);
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 250, 250);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 1vw;
  border: 1px solid rgb(173, 170, 170);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
}

.product-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product-box svg {
  display: block;
  margin: 2vh auto;
  color: gray;
}

.product-box button {
  border: none;
  background-color: rgb(214, 214, 214);
  transition: 0.2s;
  font-weight: bold;
  padding: 0.5vw;
  border-radius: 0.2vw;
}

.product-box button:hover {
  background-color: var(--achtergrondkleur);
}

label {
  display: block;
  margin-bottom: 10px;
}

.selected-answer {
  margin-top: 10px;
}

.quiz-result {
  font-weight: bold;
}

.questionHandler {
  justify-content: space-around;
  display: flex;
}

.questionHandler .button {
  text-align: center;
}

.questionHandler .button button {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--achtergrondkleur);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.questionHandler .button button:hover {
  background-color: var(--achtergrondkleur-dark);
}

.question-box button {
  background-color: var(--achtergrondkleur);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  margin-right: 10px;
}

.quiz-finished button {
  background-color: var(--achtergrondkleur);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.quiz-finished button:hover {
  background-color: var(--achtergrondkleur-dark);
}

.contact-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding-bottom: 100px;
}

.contact-form h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.contact-form form {
  display: grid;
  gap: 10px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
  height: 100px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--achtergrondkleur);
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--achtergrondkleur);
}

.email-sent-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--achtergrondkleur-dark);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}
